@import './variables';

body {
    font-size: 15px;
}

button {
    font-size: 15px;
}

button.global__button--primary {
    background-color: $primaryColor;
    color: $white;
    transition: 0.3s;
    &:hover {
        background-color: $primaryColorDark;
    }
}

a {
    text-decoration: none
}

button.global__button--secondary {
    transition: 0.3s;
    color: $primaryColor;
    &:hover {
        color: $primaryColor;
    }
}