@import './variables';

.login-panel {
    background: $white;
    max-width: 500px;
    padding: 30px 45px;
    text-align: center;

    .login-panel__sigle-input {
        margin-bottom: 15px;
        position: relative;

        .input-switcher {
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
            cursor: pointer;
            color: #1e70cd;
            font-size: 85%;
            font-weight: 400;
        }
    }

    .login-panel__icon {
        font-size: 15vmin;
    }

    .login-panel__error-list {
        list-style-type: none;
        padding: 0;
        margin: 20px 0;
        color: red;

        li {
            display: flex;
            align-items: center;

            svg {
                margin-right: 10px;
            }
        }
    }

    .login-panel__button-wrapper {
        text-align: left;
    }
}
